@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/**********TAG SELECTORS**********/

body {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #f9f7f7;
  font-family: "Source Sans Pro";
  color: #3f72af;
}

h1 {
  margin-top: 0;
}

div {
  padding: 10%;
  border-radius: 100%;
  text-align: center;
  color: #f9f7f7;
  background-color: #112d4e;
}

/**********CLASS SELECTORS**********/
