/**********TAG SELECTORS**********/

body {
  margin: 0;
  background-color: #f9f7f7;
  font-family: 'Source Sans Pro', sans-serif;
  color: #112d4e;
}

h1 {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

/**********URL config**********/

a {
    text-decoration: none;
    color: #3f72af;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
}

/**********CLASS SELECTORS**********/

.container {
  position: relative;
  width: 100%;
  /*background-color: grey;*/
}

.cloud1 {
  position: absolute;
  top: 50px;
  left: 750px;
}

.cloud2 {
  position: absolute;
  top: 50px;
  right: 750px;
}

.ptitle {
  margin: 5px;
}

.div1 {
  padding-top: 100px;
  border-radius: 0;
  text-align: center;
  color: #f9f7f7;
  background-color: #112d4e;
  margin: 0;
  height: 457px;
  width: 100%;
}

.middle-container {
  padding-top: 5px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #4d873e;
  margin: 0;
  width: 100%;
}

.bottom-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.linkedinimg {
  width: 100px;
  position: relative;
  left: 5px;
}

.footer {
  text-align: center;
  background-color: #112d4e;
  color: #f9f7f7;
}
