@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/**********TAG SELECTORS**********/

body {
  background-color: #f9f7f7;
  font-family: "Source Sans Pro";
  color: #112d4e;
}

/**********CLASS SELECTORS**********/
